.banner__imagem{
    height: calc(80vh - 72px);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(80vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(80vh - 72px);
    }
}